body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:59px;
}
#u0 {
  position:absolute;
  left:29px;
  top:18px;
  width:330px;
  height:59px;
  line-height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:270px;
}
#u2 {
  position:absolute;
  left:29px;
  top:98px;
  width:360px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
