body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:257px;
}
#u0 {
  position:absolute;
  left:30px;
  top:0px;
  width:384px;
  height:257px;
}
#u1 {
  position:absolute;
  left:2px;
  top:120px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:253px;
  top:181px;
  width:161px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u4 {
  position:absolute;
  left:212px;
  top:181px;
  width:41px;
  height:18px;
  color:#990000;
}
#u5 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:277px;
  top:175px;
  width:154px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u8 {
  position:absolute;
  left:258px;
  top:181px;
  width:41px;
  height:18px;
  color:#009DDA;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:36px;
}
#u10 {
  position:absolute;
  left:205px;
  top:181px;
  width:209px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:414px;
  top:205px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u12_seg1 {
  position:absolute;
  left:16px;
  top:-176px;
  width:8px;
  height:180px;
}
#u12_seg2 {
  position:absolute;
  left:16px;
  top:-176px;
  width:71px;
  height:8px;
}
#u12_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12_seg4 {
  position:absolute;
  left:73px;
  top:-182px;
  width:21px;
  height:20px;
}
#u13 {
  position:absolute;
  left:-30px;
  top:-118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:96px;
}
#u14 {
  position:absolute;
  left:531px;
  top:23px;
  width:302px;
  height:96px;
  line-height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u16 {
  position:absolute;
  left:531px;
  top:447px;
  width:360px;
  height:85px;
  line-height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:864px;
}
#u18 {
  position:absolute;
  left:981px;
  top:11px;
  width:694px;
  height:864px;
}
#u19 {
  position:absolute;
  left:2px;
  top:424px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u20 {
  position:absolute;
  left:988px;
  top:287px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:1011px;
  top:304px;
  width:232px;
  height:61px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:1092px;
  top:288px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:1042px;
  top:288px;
  width:58px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:1180px;
  top:288px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:1243px;
  top:288px;
  width:136px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:1042px;
  top:311px;
  width:58px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u36 {
  position:absolute;
  left:988px;
  top:309px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1090px;
  top:311px;
  width:58px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:37px;
}
#u40 {
  position:absolute;
  left:1011px;
  top:331px;
  width:202px;
  height:37px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:980px;
  top:296px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u42_seg1 {
  position:absolute;
  left:-54px;
  top:-267px;
  width:8px;
  height:271px;
}
#u42_seg2 {
  position:absolute;
  left:-142px;
  top:-267px;
  width:96px;
  height:8px;
}
#u42_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u42_seg4 {
  position:absolute;
  left:-149px;
  top:-273px;
  width:21px;
  height:20px;
}
#u43 {
  position:absolute;
  left:-100px;
  top:-160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:692px;
}
#u46 {
  position:absolute;
  left:30px;
  top:258px;
  width:389px;
  height:692px;
}
#u47 {
  position:absolute;
  left:2px;
  top:338px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:41px;
  top:545px;
  width:298px;
  height:26px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:25px;
}
#u50 {
  position:absolute;
  left:132px;
  top:549px;
  width:287px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1062px;
  top:320px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:172px;
  height:8px;
}
#u52_seg1 {
  position:absolute;
  left:164px;
  top:-4px;
  width:8px;
  height:12px;
}
#u52_seg2 {
  position:absolute;
  left:164px;
  top:0px;
  width:575px;
  height:8px;
}
#u52_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u52_seg4 {
  position:absolute;
  left:725px;
  top:-6px;
  width:21px;
  height:20px;
}
#u53 {
  position:absolute;
  left:318px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u54 {
  position:absolute;
  left:1034px;
  top:306px;
  width:28px;
  height:28px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:63px;
}
#u56 {
  position:absolute;
  left:1832px;
  top:313px;
  width:210px;
  height:63px;
  color:#000000;
  line-height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:330px;
  top:929px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:136px;
  height:8px;
}
#u58_seg1 {
  position:absolute;
  left:128px;
  top:-443px;
  width:8px;
  height:447px;
}
#u58_seg2 {
  position:absolute;
  left:128px;
  top:-443px;
  width:43px;
  height:8px;
}
#u58_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u58_seg4 {
  position:absolute;
  left:157px;
  top:-449px;
  width:21px;
  height:20px;
}
#u59 {
  position:absolute;
  left:82px;
  top:-181px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:93px;
  top:549px;
  width:41px;
  height:18px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:30px;
  top:549px;
  width:60px;
  height:18px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u65 {
  position:absolute;
  left:1832px;
  top:208px;
  width:41px;
  height:18px;
  color:#009900;
}
#u66 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:1941px;
  top:208px;
  width:41px;
  height:18px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:1878px;
  top:208px;
  width:60px;
  height:18px;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1360px;
  top:295px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:373px;
  height:8px;
}
#u71_seg1 {
  position:absolute;
  left:365px;
  top:-253px;
  width:8px;
  height:257px;
}
#u71_seg2 {
  position:absolute;
  left:365px;
  top:-253px;
  width:76px;
  height:8px;
}
#u71_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71_seg4 {
  position:absolute;
  left:427px;
  top:-259px;
  width:21px;
  height:20px;
}
#u72 {
  position:absolute;
  left:295px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:81px;
}
#u73 {
  position:absolute;
  left:1832px;
  top:36px;
  width:210px;
  height:81px;
  color:#000000;
  line-height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:50px;
}
#u75 {
  position:absolute;
  left:30px;
  top:900px;
  width:389px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:142px;
  top:558px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:304px;
  height:8px;
}
#u77_seg1 {
  position:absolute;
  left:296px;
  top:-310px;
  width:8px;
  height:314px;
}
#u77_seg2 {
  position:absolute;
  left:296px;
  top:-310px;
  width:63px;
  height:8px;
}
#u77_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u77_seg4 {
  position:absolute;
  left:345px;
  top:-316px;
  width:21px;
  height:20px;
}
#u78 {
  position:absolute;
  left:250px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:501px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u81 {
  position:absolute;
  left:501px;
  top:242px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:96px;
}
#u83 {
  position:absolute;
  left:531px;
  top:242px;
  width:302px;
  height:96px;
  color:#000000;
  line-height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
}
#u85 {
  position:absolute;
  left:25px;
  top:539px;
  width:117px;
  height:38px;
}
#u86 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u87 {
  position:absolute;
  left:501px;
  top:480px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:38px;
}
#u89 {
  position:absolute;
  left:1243px;
  top:277px;
  width:119px;
  height:38px;
}
#u90 {
  position:absolute;
  left:2px;
  top:11px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u91 {
  position:absolute;
  left:1801px;
  top:36px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:1801px;
  top:314px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u95 {
  position:absolute;
  left:1832px;
  top:166px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98 {
  position:absolute;
  left:1936px;
  top:167px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:1886px;
  top:167px;
  width:58px;
  height:16px;
}
#u101 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u102 {
  position:absolute;
  left:2024px;
  top:167px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:2087px;
  top:167px;
  width:136px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u106 {
  position:absolute;
  left:2074px;
  top:139px;
  width:1px;
  height:44px;
}
#u107 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:2px;
}
#u108 {
  position:absolute;
  left:1924px;
  top:156px;
  width:151px;
  height:1px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u110 {
  position:absolute;
  left:1924px;
  top:140px;
  width:1px;
  height:44px;
}
#u111 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u112 {
  position:absolute;
  left:2222px;
  top:140px;
  width:1px;
  height:44px;
}
#u113 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u114 {
  position:absolute;
  left:2075px;
  top:156px;
  width:148px;
  height:1px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u116 {
  position:absolute;
  left:1939px;
  top:140px;
  width:127px;
  height:16px;
  color:#FF0000;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u118 {
  position:absolute;
  left:2078px;
  top:140px;
  width:141px;
  height:16px;
  color:#FF0000;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:358px;
}
#u120 {
  position:absolute;
  left:531px;
  top:555px;
  width:302px;
  height:358px;
}
#u121 {
  position:absolute;
  left:2px;
  top:171px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:543px;
  top:116px;
  width:338px;
  height:101px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u125 {
  position:absolute;
  left:111px;
  top:0px;
  width:144px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u127 {
  position:absolute;
  left:255px;
  top:0px;
  width:78px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u129 {
  position:absolute;
  left:0px;
  top:30px;
  width:111px;
  height:36px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u131 {
  position:absolute;
  left:111px;
  top:30px;
  width:144px;
  height:36px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u133 {
  position:absolute;
  left:255px;
  top:30px;
  width:78px;
  height:36px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u135 {
  position:absolute;
  left:0px;
  top:66px;
  width:111px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u137 {
  position:absolute;
  left:111px;
  top:66px;
  width:144px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u139 {
  position:absolute;
  left:255px;
  top:66px;
  width:78px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
